#cotizadorContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 160px;
    margin-bottom: 160px;
}

#cotizadorContainer form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

  
    
}

#cotizadorContainer p{
    font-size: large;
    margin-bottom: 3px;
    width: 20rem;
    height: auto;
}

#cotizadorContainer input{
    font-size: large;
    width: 20rem;
    height: 2rem;
    margin-bottom: 25px;
}



.select{
    font-size: large;
    width: 20rem;
    height: 2rem;
    margin-bottom: 25px;
}

#divbutoon{
   
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}