#cotizadorContainer form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   padding-left: 30%;
  
    
}

#cotizadorContainer p{
    margin-bottom: 3px;
}

#cotizadorContainer input{
    width: 15rem;
    margin-bottom: 20px;
}



.select{
    width: 15rem;
    margin-bottom: 20px;
}