/*////////////////////////////           */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
/*////////////////////////////           */

body{
    width: 100%;
    background-image: url(../imagenes/background/fondo\ pinceles.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-blend-mode:luminosity;
  

}
#logo{
    width: 220px;
    filter: drop-shadow(1px 1px 2px rgb(53, 28, 28))
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
    margin-right: 5%;
}
.p-circle{
height: 20%;
}
#navbar{
    background-color: rgb(253, 165, 56);
}
.bg-dark {
    background-color: rgb(253, 165, 56)!important;
    padding-bottom: 16px;
    padding-top: 16px;
}


.nav-link {
    font-size: larger;

  
}
.boton-carrusel{
    background-color:rgb(102, 90, 90) ;
    border-color: rgb(41, 38, 36);
    color: rgb(255, 251, 236);
    
}
.escalar_hover{
    filter: drop-shadow(3px 3px 4px rgb(53, 28, 28))
}
.escalar_hover:hover{
    cursor: pointer;
    transform: scale3d(1.006, 1.006, -5);
}
.imgCarrousel:hover{
    
    transform: none;
}

.secciones{
   
    border-radius: 6px;
    box-sizing: border-box;
    width: 98%;
  
    margin: auto;
    margin-top: 100px;
}
.titulosGaleria{
    margin-top: 40px;
}

.marketing{
    margin-top: 120px;
}
@media (max-width: 486px){

    .marketing{
        margin-top: 60px;
    }    
}

.decoContainer{
    /* background: radial-gradient(circle, rgba(31,34,50,0.5550595238095238) 0%, rgba(138,156,187,0.6446953781512605) 100%); */
    border-radius: 2px;
    padding: 20px;
    
    
}

#imgDeco2{
 
    object-fit: cover;
}

#imgDeco3{
    border: rgba(71, 54, 35, 0.664) solid 8px;
    box-shadow: 0px 0px 8px 2px black;
    border-radius: 2px;
}

.consultanos{
  color: rgba(0, 0, 0, 0.712);
text-decoration: none;
font-weight: bold;
transition: color .5s !important;
}


.consultanos :hover{
  font-size: 100px;
    color: black !important;
    font-weight: bolder !important;
    
    }


.btnImg{
    width: auto;
    color: aliceblue;
    font-size: larger;
    font-weight: bolder;
    position: absolute;
    bottom: 110px;
    left: 100px;
   display: flex;
  
    
}